@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap');

/* general rules */

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    background: url(../images/vintage-grunge-paper-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#first-paint {
    height: 100%;
    width: 100%;
    position: relative;
}

#rules {
    height: 100%;
    width: 100%;
    position: relative;
}

/* buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #000;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-black {
border-color: #000;
color: #000;
}

.btn-black:active,
.btn-black:hover {
background-color: #000;
color: white;
}

/* first div/page */

#game-heading {
        padding-top: 100px;
        margin-bottom: 50px;
}

.game-heading-text {
    font-family: Rye, sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

#logo {
    background: url(../images/logo.png);
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

/* rules div/page */

#rules-text {
    font-family: roboto, sans-serif;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

#rules-text h2 {
    font-size: 48px;
    margin: auto;
    padding-top: 100px;
}

#rules-text p {
    font-size: 28px;
    width: 75%;
    margin: auto;
    padding-top: 100px;
}

@media screen and (max-width: 576px) {
    .game-heading-text {
        font-size: 48px;
    }
    #logo {
        height: 300px;
        width: 300px;
    }
    #game-heading {
        padding-top: 50px;
    }
    #rules-text h2 {
        font-size: 36px;
        margin: auto;
        padding-top: 50px;
    }
    
    #rules-text p {
        font-size: 22px;
        width: 75%;
        margin: auto;
        padding-top: 25px;
    }
}