@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap');

/* general rules */

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/vintage-grunge-paper-background_optimized.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first-paint {
    height: 100%;
    width: 100%;
    position: relative;
}

#rules {
    height: 100%;
    width: 100%;
    position: relative;
}

footer p,
footer p i {
    text-align: center;
    font-family: roboto, sans-serif;
    color: #000;
}

/* buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #000;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 30px;
}

.btn-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #000;
    border-color: #000;
    margin: auto;
}

.btn-circle:active,
.btn-circle:hover {
    background-color: #000;
    color: white;
}

.btn-black {
    border-color: #000;
    color: #000;
}

.btn-green {
    border-color: green;
    color: green;
}

.btn-red {
    border-color: red;
    color: red;
}

.btn:active,
.btn:hover {
    background-color: #000;
    color: white;
}

.btn-submit {
    width: 150px;
    height: 40px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #000;
    border-radius: 15px;
    margin-top: 30px;
}

#next-card {
    width: 150px;
    height: 40px;
}

/* first div/page */

#logo-heading {
    padding-top: 100px;
    margin-bottom: 50px;
}

.logo-heading-text {
    font-family: Rye, sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

#logo {
    background: url(../images/logo.webp);
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

/* rules div/page */

#rules-text {
    font-family: roboto, sans-serif;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

#rules-text h2 {
    font-size: 48px;
    margin: auto;
    padding-top: 100px;
}

#rules-text p {
    font-size: 28px;
    width: 75%;
    margin: auto;
    padding-top: 100px;
}

/* cards */

.card-Ace {
    background: url(../images/ace.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Two {
    background: url(../images/two.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Three {
    background: url(../images/three.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Four {
    background: url(../images/four.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Five {
    background: url(../images/five.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Six {
    background: url(../images/six.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Seven {
    background: url(../images/seven.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Eight {
    background: url(../images/eight.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;;
}

.card-Nine {
    background: url(../images/nine.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Ten {
    background: url(../images/ten.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Jack {
    background: url(../images/jack.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-Queen {
    background: url(../images/queen.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-King {
    background: url(../images/king.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.card-back {
    background: url(../images/back.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    backface-visibility: hidden;
    position: absolute;
}

#card {
    margin: auto;
    width: 200px;
    height: 300px;
    background: transparent;
}

#content {
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

/* game div/page */

#game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
}

#game-heading {
    padding-top: 100px;
    margin-bottom: 0;
}

.game-heading-text {
    font-family: Rye, sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

#answer {
    margin: auto;
    text-align: center;
}

#answer-box {
    border: 1px solid black;
    margin: auto;
    width: 150px;
    height: 40px;
    display: inline-block;
}

#countdown {
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-left: 10px;
}

#response {
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    display: grid;
}

#score-area {
    grid-column: 2;
}

#reset {
    grid-column: 1;
}

#home {
    grid-column: 3;
}

#hint-area {
    grid-column: 2;
}

#hint-text {
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: red;
}

/*404 page*/

#logo-404 {
    background: url(../images/logo.webp);
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10px;
}

#btn-404 a {
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
}

/*media queries*/

@media screen and (max-width: 576px) {
    .game-heading-text {
        font-size: 48px;
    }

    .logo-heading-text {
        font-size: 48px;
    }

    #logo {
        height: 300px;
        width: 300px;
    }

    #game-heading {
        padding-top: 25px;
    }

    #logo-heading {
        padding-top: 50px;
    }

    #rules-text h2 {
        font-size: 36px;
        margin: auto;
        padding-top: 50px;
    }

    #rules-text p {
        font-size: 20px;
        width: 75%;
        margin: auto;
        padding-top: 25px;
    }
    #logo-404 {
        height: 300px;
        width: 300px;
    }
    #card {
        width: 150px;
    height: 200px;
    }
}